*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #f0f0f0; */

}

header {
    background-color: #36413E;
    /* margin-top: -22px;
    margin-left: -17px;
    margin-right: -18px;
    margin-bottom:-0px;
    padding-top: 20px;
    padding-left:10px;
    padding-right:20px;
    padding-bottom:30px; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 0 auto; */
        color: #f0f0f0;
}
footer {
    background-color: #36413E;
    padding-bottom: 1rem;
    /* margin: 0 auto; */
        color: #f0f0f0;
    
}

body {
    font-size:18px;
    background-color: #5D5E60;
    color: #050517;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    overflow-y: scroll;
        color: #f0f0f0;
}

a {
    color:#EFCB68;
    text-decoration: none;
}

a:hover {
    color: #00fa70
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #5D5E60;
    flex-grow:1;
    padding-bottom: 1rem;
    color: #f0f0f0;
}

h2 {
    padding-top: 1rem;
    text-align:center;
    padding-bottom: 1rem;
        color: #f0f0f0;
}

h3{
    text-align: center;
    padding-top: 1rem;
        color: #f0f0f0;
}

ul{
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
li{
    font-weight: normal;
}

figure{
    text-align:center;
    font-style:italic;
}

@media only screen and (max-width: 700px){
    main {
        /* width:90%; */
        /* height:100%; */
        margin: 0% auto;
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

@media  only screen and (max-width: 300px){
    main{
        margin: 0 auto;
        /* width: 100%; */
        /* height:100%; */
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

@media  only screen and (max-width: 1200px){
    main{
        margin: 0 auto;
        /* width: 85%; */
        /* height:100%; */
        flex-grow: 1;
        padding-bottom: 1rem;
    }
}

.center{
    text-align:center;
}
hr {
    color:black;
    background-color:black;
    border:black 1px solid;
    
    margin: 2rem 0;
}

img{
    width: 80%;
    max-width: 600px;
}
figure{
    width: 100%;

}
.content{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
}
.indented{
    margin-left: 10%;
}
.bold{
    font-weight: bold;
}
.italicized{
    font-style: italic;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 8px;
    text-align: left;
}
textarea{
    color: black;
}
input, button{
    color: black;
}
input[type="submit"]{
    /* display: block; */
    background-color: #000000;
    color:#000000;
}
pre code{
    color: black;
    
}
button{
    margin-right: 6px;
}
.doubleindent{
    margin-left: 20%;
}
.tripleindent{
    margin-left:30%;
}